body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0; }

nav {
  margin: 30px 0 50px 0;
  font-size: 0.8em;
  font-weight: 300; }
  nav::after {
    clear: both;
    content: "";
    display: block; }
  nav #hamburgerContainer::after {
    clear: both;
    content: "";
    display: block; }
  nav #hamburgerContainer i.fa-bars {
    display: none;
    font-size: 3em;
    margin-right: 14%;
    float: right; }
    nav #hamburgerContainer i.fa-bars:hover {
      cursor: pointer; }
  nav ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin-right: 14%; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        color: #000000;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block; }
    nav ul li#contactLink {
      background: #212733; }
      nav ul li#contactLink a {
        color: #ffffff; }

#headerServiceWrapper {
  position: relative; }
  #headerServiceWrapper header {
    background: url("../assets/logo.svg"); }
    #headerServiceWrapper header::after {
      clear: both;
      content: "";
      display: block; }
    #headerServiceWrapper header #introContainer {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; }
      @media only screen and (min-width: 641px) {
        #headerServiceWrapper header #introContainer {
          width: calc(100% - 16%);
          float: left;
          margin-left: 8%; } }
      @media only screen and (min-width: 1008px) {
        #headerServiceWrapper header #introContainer {
          width: calc(100% - 28%);
          float: left;
          margin-left: 14%; } }
      #headerServiceWrapper header #introContainer #intro {
        margin-bottom: 400px;
        margin-top: 40px; }
        @media only screen and (min-width: 320px) {
          #headerServiceWrapper header #introContainer #intro {
            width: calc(100% - 40px);
            float: left;
            margin-left: 20px;
            text-align: center; } }
        @media only screen and (min-width: 641px) {
          #headerServiceWrapper header #introContainer #intro {
            width: calc(100% - 100px);
            float: left;
            margin-left: 50px;
            text-align: left; } }
        @media only screen and (min-width: 1008px) {
          #headerServiceWrapper header #introContainer #intro {
            width: calc(100% - 40px);
            float: left;
            margin-left: 20px;
            text-align: left; } }
        #headerServiceWrapper header #introContainer #intro h1 {
          font-weight: 300;
          letter-spacing: 2px;
          font-size: 2.5em;
          padding: 0;
          margin: 0;
          color: #212733; }
        #headerServiceWrapper header #introContainer #intro h4 {
          font-weight: 400;
          letter-spacing: 1px;
          font-size: 0.9em;
          color: #707071; }
  #headerServiceWrapper #services {
    background: #0b4e70;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
    position: absolute;
    top: 330px; }
    #headerServiceWrapper #services::after {
      clear: both;
      content: "";
      display: block; }
    #headerServiceWrapper #services #servicesContainer {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px;
      padding-bottom: 170px;
      padding-top: 200px; }
      @media only screen and (min-width: 641px) {
        #headerServiceWrapper #services #servicesContainer {
          width: calc(100% - 40px);
          float: left;
          margin-left: 20px; } }
      @media only screen and (min-width: 1008px) {
        #headerServiceWrapper #services #servicesContainer {
          width: calc(100% - 300px);
          float: left;
          margin-left: 150px; } }
      #headerServiceWrapper #services #servicesContainer .service {
        color: #ffffff;
        text-align: center; }
        @media only screen and (min-width: 320px) {
          #headerServiceWrapper #services #servicesContainer .service {
            width: calc(100% - 40px);
            float: left;
            margin-left: 20px;
            margin-bottom: 80px; } }
        @media only screen and (min-width: 641px) {
          #headerServiceWrapper #services #servicesContainer .service {
            width: calc(33.3333333333% - 26.6666666667px);
            float: left;
            margin-left: 20px;
            margin-bottom: 0; } }
        @media only screen and (min-width: 1008px) {
          #headerServiceWrapper #services #servicesContainer .service {
            width: calc(33.3333333333% - 133.3333333333px);
            float: left;
            margin-left: 100px;
            margin-bottom: 0; } }
        #headerServiceWrapper #services #servicesContainer .service h3 {
          font-weight: 300;
          letter-spacing: 1px; }
        #headerServiceWrapper #services #servicesContainer .service i.fa {
          font-size: 3em; }
        #headerServiceWrapper #services #servicesContainer .service a {
          color: #75c372;
          font-weight: 500;
          font-size: 0.9em; }
    #headerServiceWrapper #services #bottomBar {
      position: absolute;
      bottom: 0;
      height: 40px;
      width: 100%;
      background: #212934; }

@media (min-width: 320px) {
  #headerServiceWrapper header {
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 100% 280px; }
    #headerServiceWrapper header #introContainer #intro h1 {
      font-size: 2.2em; }
    #headerServiceWrapper header #introContainer #intro h4 {
      font-size: 0.8em; }
  #headerServiceWrapper #services {
    top: 350px; }

  nav {
    margin-bottom: 0; }
    nav #hamburgerContainer i.fa-bars {
      display: block; }
    nav ul li {
      display: none; }

  nav.responsive ul {
    float: none;
    margin: 0 auto; }
    nav.responsive ul li {
      display: block;
      text-align: center; }
      nav.responsive ul li a {
        display: block; } }
@media (min-width: 641px) {
  #headerServiceWrapper header {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: 100% 82%; }
    #headerServiceWrapper header #introContainer #intro h1 {
      font-size: 2.5em; }
    #headerServiceWrapper header #introContainer #intro h4 {
      font-size: 0.9em; }
  #headerServiceWrapper #services {
    top: 330px; }

  nav {
    margin-bottom: 0; }
    nav #hamburgerContainer i.fa-bars {
      display: block; }
    nav ul li {
      display: none; }

  nav.responsive ul {
    float: none;
    margin: 0 auto; }
    nav.responsive ul li {
      display: block;
      text-align: center; }
      nav.responsive ul li a {
        display: block; } }
@media (min-width: 1008px) {
  #headerServiceWrapper header {
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right bottom; }
    #headerServiceWrapper header #introContainer #intro h1 {
      font-size: 2.5em; }
    #headerServiceWrapper header #introContainer #intro h4 {
      font-size: 0.9em; }
  #headerServiceWrapper #services {
    top: 330px; }

  nav {
    margin-bottom: 50px; }

  nav.responsive ul {
    float: right;
    margin-right: 14%; }
    nav.responsive ul li {
      display: inline-block; }

  nav.navbar #hamburgerContainer i.fa-bars {
    display: none; }
  nav.navbar ul {
    float: right; }
    nav.navbar ul li {
      display: inline-block; } }

/*# sourceMappingURL=index.css.map */
