@import '0-plugins/plugins-dir';

body {
  font-family: $font-stack-helvetica;
  margin: 0;
  padding: 0;
}

nav {
  @include clearfix;
  margin: 30px 0 50px 0;
  font-size: 0.8em;
  font-weight: 300;

  ul {
    float: right;
    margin-right: 14%;
    li{
      display: inline-block;
      padding: 10px 20px;
    }
  }
}

header {
  @include grid-container;
  //background-color: red;
  background: url('../assets/logo.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  #intro {
    @include grid-column(5);
    margin-left: 14%;
    margin-bottom: 400px;
    margin-top: 40px;

    h1 {
      font-weight: 300;
      letter-spacing: 2px;
      font-size: 2.5em;
      padding: 0;
      margin: 0;
    }
    h4 {
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 0.9em;
      color: #777777;
    }
  }
}

$services-grid: (
  columns: 1,
  gutter: 100px,
  direction: ltr,
);

$service-grid: (
  columns: 12,
  gutter: 150px,
  direction: ltr,
);

#services {
  @include grid-container;
  position: relative;
  top: -260px;
  background: #0b4e70;
  clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);

  #servicesContainer {
    @include grid-column(1, $services-grid);
    padding-bottom: 100px;
    padding-top: 200px;
    .service {
      color: #ffffff;
      @include grid-column(4, $service-grid);
      text-align: center;


      i.fa {
        font-size: 3em;
      }
      a {
        color: #75c372;
      }
    }
  }
}
