@import '0-plugins/plugins-dir';
@import '1-variables/grid-variables';

body {
  font-family: $font-stack-helvetica;
  margin: 0;
  padding: 0;
}

nav {
  @include clearfix;
  margin: 30px 0 50px 0;
  font-size: 0.8em;
  font-weight: 300;

  #hamburgerContainer {
    @include clearfix;
    i.fa-bars {
      display: none;
      font-size: 3em;
      margin-right: 14%;
      float: right;
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin-right: 14%;
    li{
      display: inline-block;
      a {
        color: #000000;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
      }
    }

    li#contactLink {
      background: #212733;
      a {
        color: #ffffff;
      }
    }
  }
}

#headerServiceWrapper {
  position: relative;


  header {
    @include grid-container;
    background: url('../assets/logo.svg');

    #introContainer {
      @include grid-column(12, $mobile-intro-cont-grid);
      @include grid-media($tablet-intro-cont-grid) {
        @include grid-column(12);
      }
      @include grid-media($desktop-intro-cont-grid) {
        @include grid-column(12);
      }


      #intro {
        @include grid-media($mobile-intro-grid) {
          @include grid-column(12);
          text-align: center;
        }
        @include grid-media($tablet-intro-grid) {
          @include grid-column(12);
          text-align: left;
        }
        @include grid-media($desktop-intro-grid) {
          @include grid-column(12);
          text-align: left;
        }
        margin-bottom: 400px;
        margin-top: 40px;


        h1 {
          font-weight: 300;
          letter-spacing: 2px;
          font-size: 2.5em;
          padding: 0;
          margin: 0;
          color: #212733;
        }
        h4 {
          font-weight: 400;
          letter-spacing: 1px;
          font-size: 0.9em;
          color: #828282;
        }
      }
    }
  }

  #services {
    @include grid-container;
    background: #0b4e70;
    clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 0, 100% 150px, 100% 100%, 0% 100%);
    position: absolute;
    top: 330px;


    #servicesContainer {
      @include grid-column(12, $mobile-services-grid);
      @include grid-media($tablet-services-grid){
         @include grid-column(12);
      }
      @include grid-media($desktop-services-grid){
         @include grid-column(12);
      }

      padding-bottom: 170px;
      padding-top: 200px;


      .service {
        @include grid-media($mobile-service-grid) {
          @include grid-column(12);
          margin-bottom: 80px;
        }
        @include grid-media($tablet-service-grid){
           @include grid-column(4);
           margin-bottom: 0;
        }
        @include grid-media($desktop-service-grid){
           @include grid-column(4);
           margin-bottom: 0;
        }

        color: #ffffff;
        text-align: center;

        h3 {
          font-weight: 300;
          letter-spacing: 1px;
        }
        i.fa {
          font-size: 3em;
        }
        a {
          color: #75c372;
          font-weight: 500;
          font-size: 0.9em;
        }
      }
    }

    #bottomBar {
      position: absolute;
      bottom: 0;
      height: 40px;
      width: 100%;
      background: #212934;
    }
  }

}


@media (min-width: $mobile-size) {
  #headerServiceWrapper {
    header {
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: 100% 60%;
      #introContainer #intro {
        margin-bottom: 430px;
      }
    }
  }

  nav {
    margin-bottom: 0;
    #hamburgerContainer {
      i.fa-bars {
        display: block;
      }
    }
    ul li {
      display: none;
    }
  }

  nav.responsive {
    ul {
      float: none;
      margin: 0 auto;
      li {
        display: block;
        text-align: center;
        a {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $tablet-size) {
  #headerServiceWrapper {
    header {
      background-size: 400px;
      background-repeat: no-repeat;
      background-position: 100% 75%;
      #introContainer #intro {
        margin-bottom: 400px;
      }
    }
  }

  nav {
    margin-bottom: 0;
    #hamburgerContainer {
      i.fa-bars {
        display: block;
      }
    }
    ul li {
      display: none;
    }
  }

  nav.responsive {
    ul {
      float: none;
      margin: 0 auto;
      li {
        display: block;
        text-align: center;
        a {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $desktop-size) {
  #headerServiceWrapper {
    header {
      background-size: auto;
      background-repeat: no-repeat;
      background-position: right bottom;
      #introContainer #intro {
        margin-bottom: 400px;
      }
    }
  }

  nav {
    margin-bottom: 50px;
  }

  nav.responsive {
    ul {
      float: right;
      margin-right: 14%;
      li {
        display: inline-block;
      }
    }
  }

  nav.navbar {
    #hamburgerContainer {
      i.fa-bars {
        display: none;
      }
    }
    ul {
      float: right;
      li {
        display: inline-block;
      }
    }
  }
}
